.vscode
.DS_Store
.qmake.stash

# Ignore any binaries
a.out
pcblkchn

# Ignore shared libraries
lib
*.so
*.dylib

# Ignore build files
*.o
moc_*
pcnetworkd.h
src/qt/build/

# Ignore makefiles
Makefile
*.mk
