.vscode
.DS_Store

# Ignore any binaries
a.out
pcblkchn
src/qt/build-plasmacoin-ui-Desktop-Debug/plasmacoin-client
src/qt/build-plasmacoin-ui-Desktop-Debug/plasmacoin-client.app

# Ignore shared libraries
lib
*.so
*.dylib

# Ignore build files
*.o
moc_*

# Ignore extra makefiles
QMakefile.mk
