.vscode
.DS_Store
.qmake.stash

# Ignore any binaries
a.out
pcblkchn

# Ignore shared libraries
lib
*.so
*.dylib

# Ignore build files
*.o
moc_*
pcnetworkd.h
src/qt/build-plasmacoin-ui-Desktop-Debug/

# Ignore makefiles
Makefile
*.mk
