[Unit]
Description=Plasmacoin TCP/IP daemon
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
Environment=LD_LIBRARY_PATH=/usr/src/cryptopp:/usr/lib:/usr/lib/plasmacoin:/usr/lib
User=rmsmith
ExecStart=/home/rmsmith/Projects/Plasmacoin/Plasmacoin-Blockchain/src/qt/build-plasmacoin-ui-Desktop-Debug/pcnetworkd
StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target
